@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.text-primary {
  color: #2C3D94;
}

.pl-custom {
  padding-left: 100px;
}

.bg-tcp1 {
  background-color: #F3F4FF;
}

.bg-tcp2 {
  background-color: #2C3D94;
}

.active-button {
  background-color: #F7C32B;
}

.border-primary {
  border-color: #2C3D94;
}

.border-secondary {
  border-color: #F7C32B;
}